<!DOCTYPE html>
<html lang="en">

<head>
    <title> Oluwadamilare Michael Olusa CV</title>
</head>
<body>
    <center> <h1>Olusa Oluwadamilare Michael</h1>
        <h4>Address: New Jerusalem,| Bonny Island| Rivers<br>
            +234 806 466 3459 |+234 807 347 4423<br>
            eradasulo@gmail.com
            </h4> </center>
    

<h3>Career Summary</h3>
<p>Oluwadamilare is a result-oriented mechanical engineer with more than 
    10 years of experience in project management, work preparation,
    maintenance, and turnarounds execution. <br>I can balance individual goals and
    business goals. I have considerable theoretical knowledge and 
    hands-on experience in delivering major scopes in turnaround 
    maintenance leading mechanical teams.<br> I am a good communicator who 
    understand the relationships of different activities, resolve conflicts,
     and deliver on set targets. I have finessed my skills in negotiation, 
     workplace safety, team management, and contract management.</p>


<h3>Skills and Key Competencies</h3>
<ul>
    <li>Problem-solving skills</li>
<li>Excellent written & oral communication skills</li>
<li>Analytical skills</li>
<li>Detail-oriented</li>
<li>Ability to function efficiently in a team/group and as a leader</li>
<li>Working Knowledge of industrial HSE policies and practices</li>
<li>Data analysis experience in the facilities maintenance program, specifically in asset management and spare part optimization.</li>
<li>Experience using AutoCAD and MS office application</li>
<li>Proficient in C++ and Python Programming language.</li>
<li>Planning, scheduling, and auditing overall facilities /Maintenance activities.</li>
<li>Proficient with Microsoft Projects software and Navisworks.</li>
<li>Ability to interpret isometric drawings, P&ID and PEFS, etc.</li>
</ul>


<h3>Experience </h3>
<h4>Mechanical Supervisor</h4> <br><b>April 2021– Till Date<br>
ARCO Maintenance and Engineering (Nigeria Liquefied & Natural Gas (NLNG) Contractor)</b>
    <ul>
        <li>Understand assigned SD scope</li>
        <li>Raise required PTWs and participate in JHA session</li>
        <li>Identify and communicate support requirements from the scope list</li>
        <li>Updates the Computerized Maintenance Management System (CMMS)</li>
        <li>Tools and Equipment readiness</li>
        <li>Identify all flanges to be worked on using PEFS/P&IDs and Piping Isometrics</li>
        <li>Plan and prepare work breakdown structures for the team</li>
        <li>Carry out Quality Control on all flanges worked on</li>
        <li>Follow up with the removal and reinstatement of insulation.</li>
        <li>Prepare and update the report.</li>
        <li>Carryout other assigned duties</li>

        </ul>


<h2>Education</h2>
<h3>University of Abuja , 2011 </h3>
<p>B.Eng Mechanical Engineering</p>

<h2>Trainings and Certificates</h2>
<ol>
    <li>Statistics for Data Analysis Using Excel</li>
    <li>Industrial Engineering - Control Valve Basics </li>
    <li>Diesel Engine Cycles, Maintenance, & Control </li>
    <li>Heat Exchanger Types & Applications </li>
    <li>Quality Management System. ISO 9001:2015 Transition</li>
    <li>	Health, Safety, Security & Environment Certification level I, II, III</li>

</ol>



<h2>Referee</h2>
<p><b>Available on request</b></p>






</body>

</html>