<!DOCTYPE html>
<html lang="en">

<head>
    <title>Fisrt Project</title>
</head>

<body>
    <h1>Day One</h1>
    <h2>Heading Level2</h2>
    <h3>Heading Level 3</h3>
    <h4>Heading Level 4</h4>
    <h5>Headiing Level 5</h5>
    <h6>Heading Level 6</h6>
    <p>Hello World, <br>Welcome to Front End Class</p>

    <br>
    <br>

    <p> Computer is an <b>electronic </b> device that acccepts 
        data as input along with a set of logicak <em> instruction</em> 
        known as program which <u> process data with a 
        suitable out</u> </p>

        <p> h<sub>2</sub>o <br> 5<sup>4</sup></p>

        <h1>Computer Brands</h1>
        <ul>
            <li>Toshiba</li>
            <li>hp</li>
            <li>Samsung</li>
            <li>Acer</li>
            <li>Samsung</li>
        </ul>

        <h2> Ingredients</h2>
        <ol>
            <li>Salt</li>
            <li>Maggi</li>
            <li>Water</li>
        </ol>

</body>


</html>